/*  */
.parent{
    text-align: center;
    display: flex;
    color: color-mix(in srgb, color percentage, color percentage);
    background-color: rgb(185, 131, 236);
    border: 10px;
}
.logo{
    height: 100px;
    width: 50px;

}
.count main{
    text-align: center;
    border-radius: 12px;
    color: brown;
}
.h3{
    text-align: center;
    color: chartreuse;
}
.h1{
    text-align: center;
    color: blue;
}
p.{
    text-align: center;
    text-align: justify;
    color: aqua;
}